.container {
  background-color: hsla(0, 0%, 100%, 0.9);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.3);
  margin: 1.5rem;
  padding: 1rem;
  height: calc(100vh - 4rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  h1 {
  font-size: 2.3rem;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img {
      width: 2rem;
    }
  }
  hr {
    height: 1px;
    width: 100%;
    background-color: map-get($colores, gris-claro);
    margin: 1rem 0;
  }
  .btn {
    cursor: pointer;
    text-align: center;
    background-color: map-get($colores, negro);
    color: map-get($colores, blanco);
    &:hover,
    &:focus {
      color: map-get($colores, acento);
    }
  }
}
#tasks .btn {
  width: 100%;
  display: inline-block;
}