.container-notes {
  overflow: scroll;
  width: 100%;
  height: calc(100% - 7.5rem);
  &::-webkit-scrollbar {
    display: none;
  }
  .note {
    width: 100%;
    margin-bottom: 1rem;
    background-color: map-get($colores, blanco-oscuro);
    padding: 0.5rem;
    cursor: pointer;
    span {
      color: map-get($colores, acento);
      font-size: 1rem;
      pointer-events: none;
    }
    .note-title {
      pointer-events: none;
      font-size: 15px;
      @include flex(row, center, space-around);
    }
    .note-body {
      pointer-events: none;
      font-size: 13px;
      color: map-get($colores, gris);
      margin: 1rem 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .note-bottom {
      pointer-events: none;
      width: 100%;
      @include flex(row, center, space-between);
      small {
        font-size: 10px;
        color: map-get($colores, gris-claro);
      }
    }
  }
}

/* crear nota */
#crearNota {
  .input {
    @extend .input;
    width: 100%;
    margin: 0 auto 1rem;
  }
  .ql-container {
    overflow: scroll;
    height: calc(100% - 13rem);
    &::-webkit-scrollbar {
      display: none;
    }
    .ql-editor {
      font-family: "OCRA";
    }
  }
}

form#crearNota {
  @include flex(column, normal, normal);
  width: 100%;
  height: 100%;
}


/* nota individual */
#note-body {
  text-align: left;
  overflow: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
.input--nota {
  @extend .input;
  border: none;
}
input.input--nota {
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
}
textarea.input--nota {
  width: 100%;
  height: calc(100vh - 15rem);
}
#note-close {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: map-get($colores, acento);
}