.container-usuario {
  p {
    font-size: 1.2rem;
    span {
      color: map-get($colores, acento);
      text-decoration: underline;
    }
  }
}
.container-info {
  margin: 1rem 0;
  p {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
  form {
    width: 100%;
    input {
      width: 50%;
    }
  }
}