$colores:(
  "acento": #00cc00,
  "blanco": #ffffff,
  "blanco-oscuro": #f5f5f5,
  "gris-claro": #777777,
  "gris": #555555,
  "negro": #000000,
);

@mixin flex($fd, $ai, $jc) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

.input {
  background-color: transparent;
  border: 0;
  resize: none;
  border-bottom: 1.5px solid map-get($colores, gris-claro);
  &::placeholder {
    font-style: italic;
    font-size: 0.8rem;
  }
  &:focus {
    outline: none;
    color: map-get($colores, acento);
  }
}